:root{
    width: 100vw;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section{
    padding: 30px;
    width: 70vw;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 3px 3px 20px black;
    background-color: rgb(240, 216, 216);
}

section p{
    text-indent: 40px;
    text-align: justify;
    font-size: x-large;
}